---
 const personalImageAlt = "Matias Alemany"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-200 [&>p>strong]:font-normal [&>p>strong]: text-pretty order-2 md:order-1"
  >
  <p>
    My name is Matias Alemany. I started studying web programming three years ago. 
    <strong>My focus and passion are web development</strong>.
  </p>
  
  <p>
    I have completed several projects and am currently working as a Web Developer, eager to continue expanding my portfolio with more challenging and innovative work. 
    <strong>I’m focusing on mastering JavaScript, TypeScript, Node, Java, React, Next.js, HTML, CSS, and databases.</strong>
  </p>
  
  <p>
    I’m excited to keep growing as a web developer and contribute to impactful projects in this dynamic field.
  </p>
  </div>

  <img width="200" height="200" src="/mati-compu1.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

