---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Jan 2025 – Actually",
    title: "Freelance Full-Stack Developer",
    company: "AlemanyCode",
    description:"I am a freelance web developer with experience in developing, and implementing modern, scalable web applications. I specialize in front-end and back-end technologies, leveraging cutting-edge tools to deliver high-quality solutions. Using different technologies: NextJS, TypeScript, JavaScript, MySQL, NodeJS, Express, Git, Vercel, Tailwind.",
    location: "Valencia, Spain"
  },
  {
    date: "May 2023 – May 2024",
    title: "Software Developer Internship",
    company: "Pl4yOps",
    description:
      "Developing practices at Software, Web level, studying and testing different technologies: React, NodeJS, NextJS, NestJS, Java, TypeScript, JavaScript, MySQL, Express, Docker, AWS.",
      link: "https://www.pl4yops.com/",
      location:"Dublin, Ireland"
  },
  {
    date: "Apr 2022 – May 2023",
    title: "System Administrator",
    company: "Fabilor E Hijos SRL",
    description:
      "Data management, data backup, troubleshooting, production planning, documentation and configuration management, system implementation.",
      location:"Buenos Aires, Argentina"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
