---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Nov 2024 – Present",
    title: "Freelance Full-Stack Developer",
    company: "AlemanyCode",
    description:"Freelance web developer specializing in building and deploying modern, scalable web applications. Experienced in both front-end and back-end development, utilizing technologies such as Next.js, TypeScript, JavaScript, MySQL, Node.js, Express, Git, Vercel, and Tailwind CSS to deliver high-quality solutions. Focused on performance optimization, responsive design, and best development practices.",
    location: "Valencia, Spain"
  },
  {
    date: "Jun 2023 – Aug 2024",
    title: "Software Developer Internship",
    company: "Pl4yOps",
    description:
      "Gained hands-on experience in full-stack development by working with modern technologies such as React, Node.js, Next.js, NestJS, Java, TypeScript, and JavaScript. Contributed to web application development, database management with MySQL, and containerization with Docker. Explored cloud solutions using AWS and implemented backend services with Express.",
      link: "https://www.pl4yops.com/",
      location:"Dublin, Ireland"
  },
  {
    date: "Apr 2022 – May 2023",
    title: "System Administrator",
    company: "Fabilor E Hijos SRL",
    description:
      "Data management, data backup, troubleshooting, production planning, documentation and configuration management, system implementation.",
      location:"Buenos Aires, Argentina"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
