---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Currently...",
    title: "Production Operator",
    company: "Jabil",
    description:
      "Electronic component assembly and server hardware setup for AWS servers. Experienced in quality control processes, functional testing of IT equipment, and preparing components for server assembly.",
    link: "https://www.jabil.com/",
    location: "Dublin, Ireland"
  },
  {
    date: "Apr 2022 – May 2023",
    title: "SYSTEM ADMINISTRATOR",
    company: "Fabilor E Hijos SRL",
    description:
      "Data management, data backup, troubleshooting, production planning, documentation and configuration management, system implementation.",
      location:"Buenos Aires, Argentina"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
